
.possibilities {
  margin-top: 72px;
}

.offer-to-find-school {
  margin-top: 72px;
}

.regional-statistics {
  margin-top: 72px;
}

.offer-mobile-app {
  margin-top: 144px;
}

.application {
  margin-top: 144px;
}

.container h1 {
  color: #475569;
}

.container h2,
.container h3 {
  color: #475569;
}

.partners-title {
  margin-top: 64px;
  margin-bottom: 32px;
  font-size: 34px;
  font-weight: 700;
  text-align: left;
  color: #475569;
}

.process-title-main {
  margin-top: 120px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  color: #475569;
  text-align: left;
}
