@import "../assets/css/colors";


.arrow-btn {
  position: relative;

  
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 0;
  font: inherit;
  width: auto;
  user-select: none;

  .circle {
    
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    transition: all 0.45s cubic-bezier(0.65,0,0.76,1);
    width: 3rem;
    height: 3rem;
    background: map-get($colors, "blue");
    border-radius: 1.625rem;
    flex-shrink: 0; 
  }

  .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65,0,0.76,1);
    position: absolute;
    left: 0.625rem;
    top: 50%;
    width: 1.125rem;
    height: 0.125rem;
    transform: translateY(-50%);
    background: none;
  }

  .icon.arrow::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid white;
    border-right: 0.125rem solid white;
    transform: rotate(45deg);
  }

  .label {
    
    position: relative;
    z-index: 1;

    padding: 0.75rem 2.6rem 0.75rem 3.4rem;
    font-size: 16px;
    font-weight: 700;
    color: map-get($colors, "blue");
    white-space: nowrap;
    line-height: 1.6;
    text-transform: uppercase;
    transition: all 0.45s cubic-bezier(0.65,0,0.76,1);
  }

  &:hover .circle,
  &:focus-visible .circle {
    width: 100%;
  }

  &:hover .label,
  &:focus-visible .label {
    color: white;
  }

  &:hover .icon.arrow,
  &:focus-visible .icon.arrow {
    transform: translate(1rem, -50%);
    background: white;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

/* маленький вариант */
.arrow-btn--small {
  transform: scale(0.85);
}
