@use 'sass:color';
@import "../assets/css/colors";

.btn {
  border-radius: 6px;
  padding: 12px 37px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid;
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  transition: 0.3s;

  &:disabled {
    background-color: color.change(map-get($colors, 'blue'), $alpha: 0.2) !important;
    color: color.change(#000, $lightness: 50%) !important;
  }

  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      box-shadow: inset 0 0 3px 5px #FFFFFF20;
    }
  }

  &.small {
    padding: 8px 27px;
  }
}
