.footer {
  border-top: 1px solid rgba(0,0,0,0.07);
  background: #f4f4f4;
  padding: 14px 0;

  .footer__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .footer .footer__inner {
    justify-content: center;
  }
}
