@import "../assets/css/colors";

.edge-card.edge-card--collage {
  width: 100%;
  padding: 0 !important;
  margin: 60px 0 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.edge-card__inner-collage {
  width: 100%;
  padding: 40px 0;
}

.edge-card__inner-collage-content {
  width: 100%;
  max-width: 1200px;
  height: 520px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 24px;

  background: radial-gradient(circle at 20% 0%, #fff 0, #f2f7ff 35%, #e3eaff 80%);
  box-shadow: 0 18px 45px rgba(0,0,0,.12);
  position: relative;
}

.edge-card__slot {
  position: absolute;
  width: 110px;
  height: 110px;
}

.edge-card__image {
  width: 100%;
  filter: drop-shadow(0 0 14px rgba(255,255,255,.95));
  opacity: 0;
  transition: opacity .5s;
}

/* смартфон */
.mobile-grid-emblems {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
  padding: 24px;
}
.mobile-emblem{
  width: 100%;
  display: block;
}

/* уменьшение эмблем*/
@media (max-width:1024px) and (min-width:641px){
  .edge-card__slot{ transform: scale(.75); }
}

@media(max-width:640px){
  .edge-card__inner-collage-content{ height:auto; }
}
